.nav-mobile{
    display: flex;
    width: 70vw;
    height: 100vh;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background: var(--secondary-color);
    transform-origin: top;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-mobile .nav-mobile-item {
    transition: all 500ms ease;
}

.nav-mobile .nav-mobile-item a{
    text-decoration: none;
    color: var(--background-color);
    transition: text-decoration 500ms ease-in-out;
}

.nav-mobile .nav-mobile-item a:hover,
.nav-mobile .nav-mobile-item a:active{
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-emphasis-color: var(--secondary-color);
    text-decoration-thickness: 2px;
    text-decoration-line: overline;
}