.project-box{
    /* height: 150vh; */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
.project-title{
    margin-bottom: 2rem;
    align-self: flex-start;
    margin-left: 5rem;
}

.project-container{
    width: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 512px) {
    .project-title{
        margin-bottom: 2rem;
        margin-left: 0rem;
    }  
    
    .project{
        width: 100%;
    }

}

@media only screen and (max-width: 360px) {
    .project-container{
        width: 100%;
    }

}
