.project{
    background: var(--background-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 300px;
    margin: .3rem .3rem;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    position: relative;
    transition: background 500ms ease;
}

.project-header{
    width: 100%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.p-title{
    color: var(--title-color);
    padding: 0 1rem;
}
.project::before{
    content: '';
    display: block;
    width: 150px;
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 8px;
    background: var(--secondary-color);
    transition: transform 500ms ease-in;
}

.project::after{
    content: '';
    display: block;
    width: 150px;
    bottom: 0;
    right: 0;
    margin-top: 2rem;
    margin-left: 9.3rem;
    height: 3px;
    border-radius: 8px;
    background: var(--title-color);
    transition: transform 500ms ease-in;
}
.project:hover{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.project:hover.project::before{
    transform: translateX(9.3rem);
}

.project:hover.project::after{
    transform: translateX(-9.3rem);
}

.project-about{
    height: 20vh;
    padding: 2rem 1rem;
}
.project-footer{
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.tags{
    color: var(--primary-color);
}
.github-icon{
    width: 25px;
    height: 25px;
}

.foldericon{
    color: var(--primary-color);
}
