.social-links{
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    margin:50vh 3rem;
}
.social-item:first-child{
    margin-left: 0;
}
.social-item{
    margin-top: 1rem;
}
.social-icon{
    width: 25px;
    height: 25px;
    opacity: 0.4;
    transition: opacity 500ms ease;
}
.social-icon:hover,
.social-icon:active{
    opacity: 1;
}
@media only screen and (max-width: 990px){
    .social-links{
        margin: 50% 1.5rem;
    }
}

@media only screen and (max-width : 720px){
    .social-links{
        display: none;
    }
}
