:root{
  --primary-color: #0064F1;
  --secondary-color: #F3A5B8;
  --text-color : #8892B0;
  --title-color:#E3BD11;
  --background-color: #000;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background: var(--background-color);
}

section{
  height: auto !important;
}

p{
  color: var(--text-color);
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
